<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.wangfj.product.maindata.persistence.PcmProductTypeDictMapper">
	<resultMap id="BaseResultMap"
		type="com.wangfj.product.maindata.domain.entity.PcmProductTypeDict">
		<id column="sid" property="sid" jdbcType="INTEGER" />
		<result column="type_name" property="typeName" jdbcType="VARCHAR" />
		<result column="type_desc" property="typeDesc" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		sid, type_name, type_desc
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from pcm_product_type_dict
		where sid = #{sid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from pcm_product_type_dict
		where sid = #{sid,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.wangfj.product.maindata.domain.entity.PcmProductTypeDict">
		insert into pcm_product_type_dict (sid, type_name, type_desc
		)
		values (#{sid,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR},
		#{typeDesc,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.wangfj.product.maindata.domain.entity.PcmProductTypeDict">
		insert into pcm_product_type_dict
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sid != null">
				sid,
			</if>
			<if test="typeName != null">
				type_name,
			</if>
			<if test="typeDesc != null">
				type_desc,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sid != null">
				#{sid,jdbcType=INTEGER},
			</if>
			<if test="typeName != null">
				#{typeName,jdbcType=VARCHAR},
			</if>
			<if test="typeDesc != null">
				#{typeDesc,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.wangfj.product.maindata.domain.entity.PcmProductTypeDict">
		update pcm_product_type_dict
		<set>
			<if test="typeName != null">
				type_name = #{typeName,jdbcType=VARCHAR},
			</if>
			<if test="typeDesc != null">
				type_desc = #{typeDesc,jdbcType=VARCHAR},
			</if>
		</set>
		where sid = #{sid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.wangfj.product.maindata.domain.entity.PcmProductTypeDict">
		update pcm_product_type_dict
		set type_name = #{typeName,jdbcType=VARCHAR},
		type_desc = #{typeDesc,jdbcType=VARCHAR}
		where sid = #{sid,jdbcType=INTEGER}
	</update>
	<select id="selectListByParam" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from pcm_product_type_dict
		<where>
			<if test="sid != null">
				and sid = #{sid,jdbcType=BIGINT}
			</if>
			<if test="typeName != null">
				and type_name = #{typeName,jdbcType=VARCHAR}
			</if>
			<if test="typeDesc != null">
				and type_desc = #{typeDesc,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectPageListByParam" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from pcm_product_type_dict
		<where>
			<if test="sid != null">
				and sid = #{sid,jdbcType=BIGINT}
			</if>
			<if test="typeName != null">
				and type_name = #{typeName,jdbcType=VARCHAR}
			</if>
			<if test="typeDesc != null">
				and type_desc = #{typeDesc,jdbcType=VARCHAR}
			</if>
		</where>
		order by
		sid asc
		limit
		#{start}, #{limit}
	</select>
	<select id="getCountByParam" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select
		count(*)
		from pcm_product_type_dict
		<where>
			<if test="sid != null">
				and sid = #{sid,jdbcType=BIGINT}
			</if>
			<if test="typeName != null">
				and type_name = #{typeName,jdbcType=VARCHAR}
			</if>
			<if test="typeDesc != null">
				and type_desc = #{typeDesc,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>