<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangfj.product.maindata.persistence.PcmSeasonDictMapper">
	<resultMap id="BaseResultMap"
		type="com.wangfj.product.maindata.domain.entity.PcmSeasonDict">
		<id column="sid" property="sid" jdbcType="INTEGER" />
		<result column="season_code" property="seasonCode" jdbcType="VARCHAR" />
		<result column="season" property="season" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		sid, season_code, season
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from pcm_season_dict
		where sid = #{sid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from pcm_season_dict
		where sid = #{sid,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.wangfj.product.maindata.domain.entity.PcmSeasonDict">
		insert into pcm_season_dict (sid, season_code, season)
		values (#{sid,jdbcType=INTEGER},#{seasonCode,jdbcType=VARCHAR}
		#{season,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.wangfj.product.maindata.domain.entity.PcmSeasonDict">
		insert into pcm_season_dict
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sid != null">
				sid,
			</if>
			<if test="seasonCode != null">
				season,
			</if>
			<if test="season != null">
				season,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sid != null">
				#{sid,jdbcType=INTEGER},
			</if>
			<if test="seasonCode != null">
				#{seasonCode,jdbcType=VARCHAR},
			</if>
			<if test="season != null">
				#{season,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.wangfj.product.maindata.domain.entity.PcmSeasonDict">
		update pcm_season_dict
		<set>
			<if test="season != null">
				season = #{season,jdbcType=VARCHAR},
			</if>
		</set>
		where sid = #{sid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.wangfj.product.maindata.domain.entity.PcmSeasonDict">
		update pcm_season_dict
		set season = #{season,jdbcType=VARCHAR}
		where sid = #{sid,jdbcType=INTEGER}
	</update>
	<select id="selectListByParam" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from pcm_season_dict
		<where>
			<if test="sid != null">
				and sid = #{sid,jdbcType=BIGINT}
			</if>
			<if test="seasonCode != null">
				and season_code = #{seasonCode,jdbcType=VARCHAR}
			</if>
			<if test="season != null">
				and season = #{season,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectPageListByParam" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from pcm_season_dict
		<where>
			<if test="sid != null">
				and sid = #{sid,jdbcType=BIGINT}
			</if>
			<if test="seasonCode != null">
				and season_code = #{seasonCode,jdbcType=VARCHAR}
			</if>
			<if test="season != null">
				and season = #{season,jdbcType=VARCHAR}
			</if>
		</where>
		order by
		sid asc
		limit
		#{start}, #{limit}
	</select>
	<select id="getCountByParam" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select
		count(sid)
		from pcm_season_dict
		<where>
			<if test="sid != null">
				and sid = #{sid,jdbcType=BIGINT}
			</if>
			<if test="seasonCode != null">
				and season_code = #{seasonCode,jdbcType=VARCHAR}
			</if>
			<if test="season != null">
				and season = #{season,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>