<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangfj.product.price.persistence.PcmOriginalPriceMapper" >
  <resultMap id="BaseResultMap" type="com.wangfj.product.price.domain.entity.PcmOriginalPrice" >
    <id column="product_detail_sid" property="productDetailSid" jdbcType="VARCHAR" />
    <result column="original_price" property="originalPrice" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="opt_user" property="optUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_detail_sid, original_price, create_time, opt_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pcm_original_price
    where product_detail_sid = #{productDetailSid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pcm_original_price
    where product_detail_sid = #{productDetailSid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wangfj.product.price.domain.entity.PcmOriginalPrice" >
    insert into pcm_original_price (product_detail_sid, original_price, create_time, 
      opt_user)
    values (#{productDetailSid,jdbcType=VARCHAR}, #{originalPrice,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{optUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wangfj.product.price.domain.entity.PcmOriginalPrice" >
    insert into pcm_original_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productDetailSid != null" >
        product_detail_sid,
      </if>
      <if test="originalPrice != null" >
        original_price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="optUser != null" >
        opt_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productDetailSid != null" >
        #{productDetailSid,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null" >
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optUser != null" >
        #{optUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangfj.product.price.domain.entity.PcmOriginalPrice" >
    update pcm_original_price
    <set >
      <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optUser != null" >
        opt_user = #{optUser,jdbcType=VARCHAR},
      </if>
    </set>
    where product_detail_sid = #{productDetailSid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangfj.product.price.domain.entity.PcmOriginalPrice" >
    update pcm_original_price
    set original_price = #{originalPrice,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      opt_user = #{optUser,jdbcType=VARCHAR}
    where product_detail_sid = #{productDetailSid,jdbcType=VARCHAR}
  </update>
  
  
   <select id="selectListByParam" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    	<include refid="Base_Column_List" />
    from pcm_original_price
    <where>
      <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optUser != null" >
        opt_user = #{optUser,jdbcType=VARCHAR},
      </if>
    </where>
  </select>
  
  <select id="selectPageListByParam" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    	<include refid="Base_Column_List" />
    from pcm_original_price
    <where>
     <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optUser != null" >
        opt_user = #{optUser,jdbcType=VARCHAR},
      </if>
    </where>
    order by
			sid asc
		limit
			#{start}, #{limit}
  </select>
  <select id="getCountByParam" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select 
    	count(*)
    from pcm_original_price
    <where>
     <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optUser != null" >
        opt_user = #{optUser,jdbcType=VARCHAR},
      </if>
    </where>
  </select>
  
</mapper>